{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Reset your password
{% endblock title%}

{% block content %}
    {% if validlink %}
        <h4 style="text-align: center">Please enter new password</h4>
        <br>
        <form action="." method="post">
            {{ form | crispy }}
            {% csrf_token %}
            <button class="btn btn-outline-info" type="submit">Change</button>
        </form>
    {% else %}
        <div style="text-align: center">
            <h5>The password reset link was invalid, possibly because it has already been used.</h5>
            <h5>Please request a new password reset.</h5>
        </div>
    {% endif %}
{% endblock content%}